In [14]:
name=input("What's your name? ")

What's your name? Asa

In [15]:
number=input("What's your favourite number? ")

What's your favourite number? 22

In [16]:
name+"'s favourite number is " + number

"Asa's favourite number is 22"

In [21]:
name
number

'22'

In [22]:
10

10

In [23]:
10.2

10.2

In [26]:
print(10 < 9)

False

In [28]:
10 < 9

False

In [30]:
boolv=True

In [31]:
boolv

True

In [34]:
10<11

True

In [36]:
20<5

False

In [37]:
2+(10000*0.018)

182.0

In [38]:
'You\'re impossible!'

"You're impossible!"

In [41]:
print('"Knowledge is power"- Francis Bacon')

"Knowledge is power"- Francis Bacon

In [42]:
"This is the first string"
"This is the second string"

'This is the second string'

In [43]:
print("This is the first string")
print("This is the second string")

This is the first string
This is the second string

In [45]:
print("t\nt")

t
t

In [51]:
print("t\tt")

t	t

In [54]:
"First line."
"Second line."

'Second line.'

In [60]:
print("First line.\n\tSecond line.\n\t\tThird line.")

First line.
	Second line.
		Third line.

In [61]:
"First line.\n\tSecond line.\n\t\tThird line."

'First line.\n\tSecond line.\n\t\tThird line.'

In [2]:
'Test'

'Test'

In [3]:
listv=[1,2,3]

In [10]:
listv

[1, 2, 3]

In [28]:
print('5 years:')
print(1000*(1+0.05)**5)
print()

print('10 years:')
print(1000*(1+0.05)**10)
print()

print('15 years:')
print(1000*(1+0.05)**15)
print()

print('20 years:')
print(1000*(1+0.05)**20)
print()

print('25 years:')
print(1000*(1+0.05)**25)

5 years:
1276.2815625000003

10 years:
1628.894626777442

15 years:
2078.9281794113685

20 years:
2653.2977051444223

25 years:
3386.3549408993886

In [30]:
principal=10000
rate=0.05

print('5 years:')
print(principal*(1+rate)**5)
print()
print('10 years:')
print(principal*(1+rate)**10)
print()
print('15 years:')
print(principal*(1+rate)**15)
print()
print('20 years:')
print(principal*(1+rate)**20)
print()
print('25 years:')
print(principal*(1+rate)**25)

5 years:
12762.815625000003

10 years:
16288.94626777442

15 years:
20789.28179411369

20 years:
26532.97705144422

25 years:
33863.54940899389

In [31]:
jan_avg_temp = 11.6
feb_avg_temp = 11.9
mar_avg_temp = 13.8
apr_avg_temp = 16.2
may_avg_temp = 20.2
jun_avg_temp = 24.3
jul_avg_temp = 27.2
aug_avg_temp = 27.7
sep_avg_temp = 24.7
oct_avg_temp = 21.1
nov_avg_temp = 16.3
dec_avg_temp = 12.8

In [57]:
avg_temp = [11.6,11.9,13.8,
            16.2,20.2,24.3,
            27.2,27.7,24.7,
            21.1,16.3,12.8]

In [41]:
avg_temp[6:]

[27.2, 27.7, 24.7, 21.1, 16.3, 12.8]

In [44]:
avg_temp_name = [['jan',11.6],['feb',11.9],['mar',13.8],
                 ['apr',16.2],['may',20.2],['jun',24.3],
                 ['jul',27.2],['aug',27.7],['sep',24.7],
                 ['oct',21.1],['nov',16.3],['dec',12.8]]

In [53]:
q1_temp = avg_temp_name[:3]
q2_temp = avg_temp_name[3:6]
q3_temp = avg_temp_name[6:9]
q4_temp = avg_temp_name[9:]

In [54]:
print(q1_temp[1])
print(q2_temp)
print(q3_temp)
print(q4_temp)

[['jan', 11.6], ['feb', 11.9], ['mar', 13.8]]
[['apr', 16.2], ['may', 20.2], ['jun', 24.3]]
[['jul', 27.2], ['aug', 27.7], ['sep', 24.7]]
[['oct', 21.1], ['nov', 16.3], ['dec', 12.8]]

In [55]:
print(q1_temp[1])

['feb', 11.9]

In [58]:
print(q1_temp[1][1])

11.9

In [67]:
avg_temp_name[10:13]

[['nov', 16.3], ['dec', 12.8]]

In [72]:
min(avg_temp)

11.6

In [91]:
principal = int(input('Enter principle: '))
rate = float(input('Enter rate of growth: '))
years = int(input('Enter years of growth: '))

compound_interest = round(principal*(1+rate)**years,2)

text = "With a principal amount of $" + str(principal) + " and rate of growth of " + str(rate) + ", you can expect that after "  + str(years) + " years, your investment will be worth $" + str(compound_interest) + "."

print(text)

file = open("compound_interest.txt", "w")
file.write(text)
file.close()

Enter principle: 100000
Enter rate of growth: 1
Enter years of growth: 11
With a principal amount of $100000 and rate of growth of 1.0, you can expect that after 11 years, your investment will be worth $204800000.0.